<div class="app-wrapper">
  <h1>Hi, I'm Nick Tobolski</h1>
  <p>CAPCO Angular Assesment 2018 V4:</p>
  <app-cap-table [tableData]="demoData"></app-cap-table>
  <h2>Notes</h2>
  <ul>
    <li>This app is consuming a component exported from a separate module, capco-ui.</li>
    <li>This component uses sticky positioning and flexbox.</li>
    <li>I made some assumptions around the table body scroll behavior where I normally would've sought for clarification.</li>
    <li>Checkout the side project I built last weekend with the JAMStack & GraphQL. It was lots of fun!<br /> <a href="https://insteadofplastic.co/" target="_blank">https://insteadofplastic.co</a> (more content and style coming soon)</li>
  </ul>
  <p>
    Thanks for looking 👋,<br />
    Nick Tobolski
  </p>
  <router-outlet></router-outlet>
</div>
