<table class="cap-table">
  <thead class="cap-table__head">
    <tr class="cap-table__row">
      <th *ngFor="let header of columns">{{header}}</th>
      <th></th>
    </tr>
  </thead>
  <tbody class="cap-table__body">
    <tr class="cap-table__row" *ngFor="let row of paginatedRows; let i = index;">
      <td *ngFor="let column of row; let row = row;">{{column}}</td>
      <td>
        <button class="button button-outline" (click)="submitRow(i)">Submit</button>
      </td>
    </tr>
  </tbody>
  <tfoot class="cap-table__foot">
    <tr>
      <td [attr.colspan]="columnCount + 1">
        <fieldset class="cap-table__paginator-wrap">
          <div class="cap-table__y-sticker">
            <div class="cap-table__paginator-page-size">
              Showing
              <select (change)="pageSize = $event.target.value">
                <option value="4">4</option>
                <option value="8">8</option>
                <option value="16">16</option>
                <option value="32">32</option>
                <option value="64">64</option>
                <option value="128">128</option>
                <option value="256">256</option>
                <option value="512">512</option>
              </select>
              of {{rows.length}}
            </div>
            <div class="cap-table__paginator-buttons">
              Page {{pageIndex + 1}} of {{pagesCount}} &nbsp;
              <button class="button button-outline" [disabled]="pageIndex === 0" (click)="pageIndex = pageIndex - 1"><</button>
              &nbsp;
              <button class="button button-outline" [disabled]="pageIndex === pagesCount - 1" (click)="pageIndex = pageIndex + 1">></button>
            </div>
          </div>
        </fieldset>
      </td>
    </tr>
  </tfoot>
</table>
