.cap-table {
  font-size: 14px;
  position: relative;
}
.cap-table__head {
  margin-right: 0px;
}
.cap-table__head th {
  position: sticky;
  top: 0;
  background-color: rgba(255,255,255, 1);
}
.cap-table__body {
  overflow-y: auto;
}
.cap-table__foot {
  padding: 1rem;
}
.cap-table__foot td {
  position: sticky;
  bottom: 0rem;
  background-color: rgba(255,255,255, 1);
  padding: 0;
  border-top: 1px solid #e1e1e1;

}
.cap-table__paginator-wrap {
  margin-bottom: 0;
  position: relative;
  padding: .5rem 0;
}
.cap-table__paginator-wrap select {
  margin-bottom: 0;
  max-width: 7rem;
}
.cap-table__y-sticker {
  display: flex;
  align-items: stretch;
  justify-content: center;
  position: sticky;
  left: 1rem;
  max-width: calc(100vw - 3rem);
}
.cap-table__paginator-page-size {
  white-space: nowrap;
}
.cap-table__paginator-buttons {
  margin-left: auto;
  white-space: nowrap;
}
.cap-table__paginator-buttons button {
  margin-bottom: 0;
}

